.container {
    max-width: 1300px;
    margin: auto;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-section {
    margin-top: 5rem;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-row-sub {
    padding-top: 50px;
}

section :not(:first) {
    margin-top: 50px;
}

.skills-title {
    display: flex;
    justify-content: center;
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second-row-sub {
    padding-top: 50px;
}

.third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.third-row-sub {
    max-width: 389.96px;
}

.fourth-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fourth-row-sub {
    max-width: 389.96px;
}

.fifth-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fifth-row-sub {
    max-width: 389.96px;
}

.inevitability {
    margin: auto;
}

.inevitability-container {
    flex-direction: column;
}

.inevitability-title {
    text-align: center;
}

.sub-inevitability-container {
    display: flex;
    flex-direction: column;
}

.anxiety-skills-container {
    display: flex;
    flex-direction: column;
}

.anxiety-skills-container-right > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.anxiety-skills-container-right > ul > div {
    display: flex;
    flex-direction: row;
}

.anxiety-skills-container-right > ul > div > li {
    padding-right: 10px;
    padding-left: 10px;
}

.anxiety-skills-top-row > ul {
    display: flex;
}

.anxiety-skills-top-row > ul > li:not(:first-child)  {
    padding-right: 10px;
    padding-left: 10px;
}

.anxiety-skills-top-row > ul > li:first-child {
    padding-right: 10px;
}

.anxiety-skills-bottom-row > ul {
    display: flex;
}

.anxiety-skills-bottom-row > ul > li {
    padding-right: 15px;
}

.anxiety-skills-bottom-row > ul > li:not(:first-child)  {
    padding-right: 10px;
    padding-left: 10px;
}

.anxiety-skills-bottom-row > ul > li:first-child {
    padding-right: 10px;
}

.character-name {
    padding-bottom: 50px;
}

.player-name {
    padding-bottom: 50px;
}

.cantankerous-skills-container {
    display: flex;
    flex-direction: column;
}

.cantankerous-skills-second-row > ul {
    display: flex;
    padding-left: 0px;
}

.cantankerous-skills-second-row > ul > li:first-child {
    padding-right: 10px;
}

.cantankerous-skills-second-row > ul > li:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
}


.megalomania-skills-left > ul {
    display: flex;
    justify-content: center;
}

.megalomania-skills-right > ul {
    display: flex;
    justify-content: center;
}

.megalomania-skills-left > ul > li:first-child {
    padding-right: 10px;
}

.megalomania-skills-left > ul > li:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
}

.megalomania-skills-right > ul > li:first-child {
    padding-right: 10px;
}

.megalomania-skills-right > ul > li:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
}

.obsession-skills-left > ul {
    display: flex;
    justify-content: center;
}

.obsession-skills-right > ul {
    display: flex;
    justify-content: center;
}

.obsession-skills-left > ul > li:first-child {
    padding-right: 10px;
}

.obsession-skills-left > ul > li:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
}

.obsession-skills-right > ul > li:first-child {
    padding-right: 10px;
}

.obsession-skills-right > ul > li:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
}


.pedantry-skills-left > ul {
    display: flex;
    justify-content: center;
}

.pedantry-skills-right > ul {
    display: flex;
    justify-content: center;
}

.pedantry-skills-left > ul > li:first-child {
    padding-right: 10px;
}

.pedantry-skills-left > ul > li:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
}

.pedantry-skills-right > ul > li:first-child {
    padding-right: 10px;
}

.pedantry-skills-right > ul > li:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
}
